extends layout

block content
	h1="title"
	p#OutputBin
	script.
		omni.init()
		var conscience = omni.conscience("test");
		conscience.onTokenGranted = function() {
			conscience.sendThought({message : "HEY HEY HEY!!!"}, "test");
			console.log("Thought sent");
		}
		console.log(conscience);