extends layout

block content
	h1= title
	canvas#myCanvas
	script.
		MocuGame.targetResolutionWidth = 960
		MocuGame.prepareCanvas("myCanvas", new MocuGame.Point(960, 480), new MocuGame.Point(960, 480));
		var state = new MocuGame.MocuState(60);
		

		MocuGame.init(state);