extends layout

block content
	h1="title"
	p#OutputBin
	script.
		omni.init()
		var conscience = omni.conscience("test");
		conscience.onTokenGranted = function() {
			//conscience.sendThought({message : "HEY HEY HEY!!!"}, "test");
			//console.log("Thought sent");
		}
		//console.log(conscience);
		var fruit = {}

		
		conscience.onTokenGranted = function() {
			//conscience.hook("apples", fruit, "apples");
			conscience.hook("myName", fruit, "name");
			conscience.hook("emotion", fruit, "emotion");
			//conscience.setState("apples.oranges", 2);
		}
