doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <script src="/js/Dependencies/audio-fx.min.js"></script>
    <script src="/js/Dependencies/keyLib.js"></script>
    <script src="/js/Dependencies/preloadjs.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    script(src="/js/mocu.js")
    script(src="/js/point.js")
    script(src="/js/pointer.js")
    script(src="/js/event.js")
    script(src="/js/action.js")
    script(src="/js/timeslot.js")
    script(src="/js/timeline.js")
    script(src="/js/rgba.js")
    script(src="/js/mocucameratraits.js")
    script(src="/js/mocuobject.js")
    script(src="/js/mocuanimation.js")
    script(src="/js/mocusprite.js")
    script(src="/js/mocubackground.js")
    script(src="/js/mocutext.js")
    script(src="/js/marquee.js")
    script(src="/js/notification.js")
    script(src="/js/mocupatch.js")
    script(src="/js/mocugroup.js")
    script(src="/js/mocutile.js")
    script(src="/js/mocutilemap.js")
    script(src="/js/mocustate.js")
    script(src="/js/mocuzone.js")
    script(src="/js/mocucamera.js")
    script(src="/js/mocucamerazone.js")
    script(src="/js/mocuemitter.js")
    script(src="/js/mocumenu.js")
    script(src="/js/mocumenuitem.js")
    script(src="/js/mocusound.js")
    script(src="/js/mocumusic.js")

    <script src="/js/mocurenderer.js"></script>
    <script src="/js/mocushader.js"></script>
    <script src="/js/mocueffect.js"></script>

    <script src="/js/mocugame.js"></script>
    script(src="/coffeescripts/test.js")
    script(src="/coffeescripts/bc.js")

    script(src="/shared/omni.js")
    script(src="/shared/thought.js")
    script(src="/client/omni.js")
    script(src="/client/thoughthandler.js")
    script(src="/client/statehandler.js")
    script(src="/client/conscience.js")

  body
    block content