doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <script src="/mocugame/js/Dependencies/audio-fx.min.js"></script>
    <script src="/mocugame/js/Dependencies/keyLib.js"></script>
    <script src="/mocugame/js/Dependencies/preloadjs.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    script(src="/mocugame/js/mocu.js")
    script(src="/mocugame/js/point.js")
    script(src="/mocugame/js/pointer.js")
    script(src="/mocugame/js/event.js")
    script(src="/mocugame/js/action.js")
    script(src="/mocugame/js/timeslot.js")
    script(src="/mocugame/js/timeline.js")
    script(src="/mocugame/js/rgba.js")
    script(src="/mocugame/js/mocucameratraits.js")
    script(src="/mocugame/js/mocuobject.js")
    script(src="/mocugame/js/mocuanimation.js")
    script(src="/mocugame/js/mocusprite.js")
    script(src="/mocugame/js/mocubackground.js")
    script(src="/mocugame/js/mocutext.js")
    script(src="/mocugame/js/marquee.js")
    script(src="/mocugame/js/notification.js")
    script(src="/mocugame/js/mocupatch.js")
    script(src="/mocugame/js/mocugroup.js")
    script(src="/mocugame/js/mocutile.js")
    script(src="/mocugame/js/mocutilemap.js")
    script(src="/mocugame/js/mocustate.js")
    script(src="/mocugame/js/mocuzone.js")
    script(src="/mocugame/js/mocucamera.js")
    script(src="/mocugame/js/mocucamerazone.js")
    script(src="/mocugame/js/mocuemitter.js")
    script(src="/mocugame/js/mocumenu.js")
    script(src="/mocugame/js/mocumenuitem.js")
    script(src="/mocugame/js/mocusound.js")
    script(src="/mocugame/js/mocumusic.js")

    <script src="/mocugame/js/mocurenderer.js"></script>
    <script src="/mocugame/js/mocushader.js"></script>
    <script src="/mocugame/js/mocueffect.js"></script>

    <script src="/mocugame/js/mocugame.js"></script>
    script(src="/coffeescripts/test.js")
    script(src="/coffeescripts/bc.js")

  body
    block content