doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <script src="/socket.io/socket.io.js"></script>

    script(src="/coffeescripts/test.js")
    script(src="/coffeescripts/bc.js")

    script(src="/shared/omni.js")
    script(src="/shared/thought.js")
    script(src="/client/omni.js")
    script(src="/client/thoughthandler.js")
    script(src="/client/statehandler.js")
    script(src="/client/conscience.js")

  body
    block content